<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<img th:src="@{/images/TacoCloud.png}"/>
<div th:if="${error}">
    Unable to login. Check your username and password.
</div>

<p>New here? Click
    <a th:href="@{/register}">here</a> to register.</p>

<form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" name="username" id ="username" />
        <label for="password" >Password:</label>
        <input type="password" name="password" id="password"/>

        <input type="submit" th:value="login" />

    </form>

</body>
</html>