<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Clound</title>
    <link rel ="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <form method="post" th:action="@{/register}">
        <input type="text" id = "username" name="username"/>
        <input type="password" id ="password" name="password"/>
        <input type="text" id = "phonenumber" name="phonenumber"/>
        <input type="submit"  value = "submit"/>

    </form>
</body>
</html>